language: php
php:
  - 5.6
  - 5.5
  - 5.4
  - hhvm

before_script:
  - if [[ $TRAVIS_PHP_VERSION =~ ^php ]]; then phpenv config-rm xdebug.ini; fi
  - composer self-update
  - composer update --no-interaction --prefer-dist

script:
  - ./vendor/phpunit/phpunit/phpunit -v
